html, body{
    height: 100%;
    margin: 0px;
    background-image: url(https://images.unsplash.com/photo-1508873787497-1b513a18217a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80);
    background-size: 100%;
    }
    .fdiv{
    width: 40%;
    height: 650px;
    margin-top: 85px;
    margin-left: 30%;
    background-color: azure;
    opacity: 80%;
    box-shadow: 0 40px 80px 0 rgb(71, 71, 71);
    border-radius: 20px;
    }
    .form{
        margin-left: 80px;
    }
    .fn{
        height: 30px;
        width: 200px;
        padding-left: 15px;
        border-radius: 7px;
        border-width: thin;
        font-size: 15px;
        background-color: white;
    }
    .mn{
        height: 30px;
        width: 200px;
        padding-left: 15px;
        border-radius: 7px;
        border-width: thin;
        font-size: 15px;
        background-color: white;
    }
    .ln{
        height: 30px;
        width: 200px;
        padding-left: 15px;
        border-radius: 7px;
        border-width: thin;
        font-size: 15px;
        background-color: white;
    }
    .age{
        height: 30px;
        width: 200px;
        padding-left: 15px;
        border-radius: 7px;
        border-width: thin;
        font-size: 15px;
        background-color: white;
    }
    .phone{
        height: 30px;
        width: 200px;
        padding-left: 15px;
        border-radius: 7px;
        border-width: thin;
        font-size: 15px;
        background-color: white;
    }
    .dt{
        height: 30px;
        width: 200px;
        padding-left: 15px;
        border-radius: 7px;
        border-width: thin;
        font-size: 15px;
        background-color: white;
    }
    .email{
        height: 30px;
        width: 200px;
        padding-left: 15px;
        border-radius: 7px;
        border-width: thin;
        font-size: 15px;
        background-color: white;
    }
    .date{
        height: 30px;
        width: 200px;
        padding-left: 15px;
        border-radius: 7px;
        border-width: thin;
        font-size: 15px;
        background-color: white;
    }
    .countries{
        height: 30px;
        width: 130px;
        padding-left: 15px;
        border-radius: 7px;
        border-width: thin;
        font-size: 15px;
        background-color: white;
    }
    .states{
        height: 30px;
        width: 130px;
        padding-left: 15px;
        border-radius: 7px;
        border-width: thin;
        font-size: 15px;
        background-color: white;
    }
    .cities{
        height: 30px;
        width: 130px;
        padding-left: 15px;
        border-radius: 7px;
        border-width: thin;
        font-size: 15px;
        background-color: white;
    }
    .button{
        margin-left: 120px;
        width: 150px;
        border-radius: 7px;
        height: 35px;
        color: rgb(255, 255, 255);
        font-family: 'Freight Sans Bold', Helvetica, Arial, sans-serif !important;
        font-weight: bold !important;
        letter-spacing: normal;
        text-rendering: optimizelegibility;
        background-color: red;
        cursor: pointer;